body {
    background: linear-gradient(to right, #403a3e, #be5869);
}
.title {
    color: white;
    text-align: center;
}
.todoItemInput {
    padding: 12px 20px;
    font-weight: bold;
    border: 5px solid white;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
    display: block;
}
.todoFormButtons {
    width: 50%;
    margin: 10px auto 50px auto;
}
.addItem,
.clearAll {
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 48%;
    margin-top: 10px;
    margin-right: 3px;
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
}
.addItem {
    background-color: green;
    border-color: green;
}
.clearAll {
    background-color: red;
    border-color: red;
}

.todoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 5px auto;
    padding: 12px;
    border-radius: 10px;
    background-color: gray;
}
.todoItemText {
    padding: 5px;
    font-weight: bold;
}
.todoDeleteButton {
    padding: 5px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: red;
}
